doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav
      a(href='/') Home

      a(href='/create') Create Post

      a(href='/update') Update Post

    block content
